# Prog6280a - Jobs in data Science

In [ ]:
%pip install pandas seaborn matplotlib -q
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [1]:
#read dataset into dataframe
def = pd.read_csv('../data/jobs_in_data_science.csv')
df.columns = df.columns.str.strip() #get rid of trailing spaces in column names
df

SyntaxError: invalid syntax (2321637457.py, line 2)

In [ ]:
df.info()

In [ ]:
df.describe()

## Task 1: Salary Trends over time

In [2]:
avg_salary_by_year = df.groupby('work_year')['salary_in_usd'].mean()
plt.figure(figsize=(10,6)) # 10in x 6in
avg_salary_by_year.plot(kind='line',marker='o')
plt.title('Average salary in data science overtime')
plt.xlabel('year')
plt.ylabel('average salary (USD)')
plt.grid(True)
plt.show

SyntaxError: invalid syntax (623160796.py, line 1)

TEh average salary in data science has shown an upward trend over the years, indicating, a growing value in the field